<%-include('../partials/header')%>
<body class="locationsPage">
 <h1><%= title %></h1>

 <h1 class="homePage">hello, <%= user ? user.name : "friend" %>!</h1>
 
<form action="/explorations/weatherquery" method="POST">
<input type="text" name="city" placeholder="Enter a city...">
</form>











<%-include('../partials/footer')%>
<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>
