<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-chrome-192x192.png">
    <link rel="manifest" href="/img/site.webmanifest">
    
    <link rel="icon" href="/img/favicon.ico" > <title> <%= title %></title>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li>
          <a class="google" href="/auth/logout">Bye, bye <%= user ? user.name : "Friend" %>,Logout</a>
        </li>
        <% } else { %>
        <li>
          <a class="google" href="/auth/google">Welcome <%= user ? user.name : "Friend" %>, please sign in with Google</a>
        </li>
        <% } %>
      </ul>
    </nav>