<%-include('partials/header')%>
<body class="aboutPage">
 <h1>Hey, <%= user ? user.name : "friend" %> this is <%= title %>!</h1>
 

<div class="aboutUs">

   <p class="aboutText"><strong><span class="aboutText" style="color: yellow;" >As a mother of 2 </span></strong>, I found myself continuously searching the web for kid-friendly and age-appropriate meals, restaurants, and places for my two toddler girls. Through the creation of <strong><span class="aboutText" style="color: yellow;" >Playdates & Kids Meals</span></strong>, I hope to help other families with children locate kid and family-friendly recipes, restaurants, and experiences so our focus can be on creating lasting memories with our little ones. </p> 
</div>  

 

    
   
    
       

<%-include('partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>