<%-include('partials/header')%>
<body class="aboutPage">
 <h1>Hey, <%= user ? user.name : "friend" %> this is <%= title %>!</h1>
 

<div class="aboutUs">

   <p class="aboutText"><strong><span class="aboutText" style="color: yellow;" >As a mother of 2 </span></strong>, I found myself continuously searching the web for kid-friendly and age-appropriate meals, restaurants, and places for my two toddler girls but could never find a resource that encompassed everything I needed as a working mom. I decided to create <strong><span class="aboutText" style="color: yellow;" >Playdates & Kids Meals</span></strong>, for busy families needing a quick and fast kid-friendly directory with kid- and family-friendly recipes, restaurants, and experiences so they too can focus on creating memories. </p> 
</div>  

 

    
   
    
       

<%-include('partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>