<%-include('partials/header')%>
<body class="aboutPage">
 <h1><%= title %></h1>
 
<h1 class="aboutPage">hello, <%= user ? user.name : "friend" %>!</h1>

  

 

    
   
    
       

<%-include('partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>