<%-include('partials/header')%>
<body class="contactPage">
 <h1><%= title %></h1>

 <h1 class="homePage">hello, <%= user ? user.name : "friend" %>!</h1>
 












<%-include('partials/footer')%>
<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>
