<%- include('partials/header') %>

<body class="homePage">
 <div class="homePage">
    <!-- <h1 class="homePage">hello, <%= user ? user.name : "friend" %>!</h1> -->
    <video id="videoHP" src="https://i.imgur.com/6wv9lnK.mp4" loop=true autoplay muted cover></video>

    
</div>
<%- include('partials/footer') %>
</body>