<%- include('partials/header') %>
<% if (user) { %> <!---Logged In-->
<body class="homePage">
 <div class="homePage">

    <h1 class="homePage">hello, <%= user ? user.name : "friend" %>!</h1>
    
      <div class="card-deck ">
        <div class="card bg-warning">
          <a href="/eats"><img class="card-img-top" src="https://i.imgur.com/0QB7W8L.png" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Kid-Friendly Dining & Meals</h5>
            <a href="/eats"><button type="button" href="#" class="btn btn-success btn-lg btn-block">Kid-Friendly Meals</button></a>
            <a href="/restaurants"><button type="button" href="#" class="btn btn-success btn-lg btn-block">Kid-Friendly Dining</button></a>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>    
        <div class="card bg-warning">
         <a href="/messageboard"><img class="card-img-top" src="https://i.imgur.com/5sJEp7I.png" alt="Card image cap"></a> 
          <div class="card-body">
            <h5 class="card-title">Family Q & A Board</h5>
            <a href="/playground"><button type="button" href="#" class="btn btn-success btn-lg btn-block">The Playground</button></a>
            <a href="/reviews"><button type="button" href="#" class="btn btn-success btn-lg btn-block">Reviews</button></a>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
          </div>
        </div>
        <div class="card bg-warning">
          <a href="/explorations"><img class="card-img-top" src="https://i.imgur.com/vwI7k0J.png" alt="Card image cap"></a>
          <div class="card-body">
            <a href=/explorations/> <h5 class="card-title">Kid-Friendly Explorations & Experiences</h5>
            <a href="#"><button type="button" href="/explorations/" class="btn btn-success btn-lg btn-block">Kid-Friendly Attractions & Activities</button></a>
            <a href="/explorations/attractions"><button type="button" href="#" class="btn btn-success btn-lg btn-block">Add Attraction Recommendation</button></a>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> -->
          </div>
        </div>
    
      </div>


 

<% } else { %> <!---Logged Out-->
  <body class="nonsignIn">
    <video id="videoHP" src="https://i.imgur.com/6wv9lnK.mp4" loop=true autoplay muted cover></video>    
</div>
 <% } %> 

<%- include('partials/footer') %>

</body>
