/* Partials */
div.header, #logout{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-right: 15px;
 margin-left: 20px;
}
div.header img{
  height: 130px;
  width: 130px;
}
div.headingText video{
  display: inline-flexbox;
  height: 200px;
  width: 500px;
  border: white 20px solid;
  outline: solid 10px green;
  object-fit: cover;
}
#searchBtn{
  background-color: green;
  color: yellow;
}
#searchBtn:hover{
  background-color: #ff1616;
}
#logout{
  display: flex;
  height: 4em;
  width: 4em;
  border-radius: 100%;
  text-align: left;
  border: solid 2px white;
}
#login{
  display: flex;
  height: 4em;
  width: 4em;
  border-radius: 100%;
  text-align: left;
  border: solid 2px white;
  margin-left: 20px;
  margin-top: 20px;
}
footer{
  font-family: 'Architects Daughter', cursive;
  color: yellow;
  font-size: 25px;
  text-align: center;
  font-variant-caps: small-caps ;
}
/* Home Page */
body.homePage {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  text-align: center;
  color: white;
  background-color:  #38b6ff;
  font-variant-caps: small-caps ;
}
#videoHP{
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}
div.card-deck button{
  font-variant-caps: small-caps ;
}
/* Error Page */
body.error {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  text-align: center;
  color: black;
  background-color:  #38b6ff;
  font-variant-caps: small-caps ;
}
div.errorHeader{
  display: flex;
  justify-content: space-between;
}
div.errorHeader img{
  display: flex;
  justify-content: left;
  height: 130px;
  width: 130px;
}
div.errorHeader video{
  margin-right: 450px; 
}
#videoEP{
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}
/* Account Settings Page */
body.accountPage {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  text-align: center;
  color: white;
  background-color:  #38b6ff;
  font-variant-caps: small-caps ;
}
/* Eats Page */
body.eatsPage {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  text-align: center;
  color: white;
  background-color:  #38b6ff;
  font-variant-caps: small-caps ;
}
/* Locations Page */
body.locationsPage {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  text-align: center;
  color: white;
  background-color:  #38b6ff;
  font-variant-caps: small-caps ;
}
