<%-include('../partials/header')%>
<body class="accountPage">
 <h1><%= title %></h1>
 
<h1 class="accountPage">hello, <%= user ? user.name : "friend" %>!</h1>

  

 

    
   
    
       

<%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>

</body>