<%-include('../partials/header')%>
<body class="eatsPage">
    <h1>Ready to add a great <%= title %>, <%= user ? user.name : "friend" %>?</h1>













<%-include('../partials/footer')%>

<script>
    $('.dropdown-toggle').dropdown()
</script>


</body>